<p>
    <b>Dear </b>
    <b><?= $gender ?>.</b>
    <b> </b>
    <b><?= $buyer_name ?></b>
    <b> </b>
</p>
<p>
    Congratulation your company <b>The Holiday Group</b> are classified as:<b></b>
</p>
<div>
    <h1 style="text-align: center; "><span style="color: rgb(247, 247, 247); background-color: rgb(255, 0, 0);"><b>Partially Hosted</b></span></h1>
</div>
<ul>
    <li>
        <b>Partially Hosted Buyer Benefit: </b>
        <b></b>
    </li>
    <li>
        Four (04) Nights stay (accommodation) during <?= $date ?>
        <?= $year; ?>
    </li>
    <li>
        Inter transfers: airport - official hotel - airport and official hotel - venue - official hotel during main event
    </li>
    <li>
        Meals during BBTF
        <?= $year; ?> program
    </li>

</ul>
<ul>
</ul>
<ul type="disc">
</ul>
<ul type="disc">
</ul>
<p>
    <b>Partially</b>
    <b> </b>
    <b>Hosted Buyer Mandatory:</b>
    <b></b>
</p>
<ul>
    <li>An administrative fee of IDR.
        <?= $fee ?> (Indonesian Currency) for Partially Hosted Payment by credit card will added a surcharge 4 % (master card &amp; visa logo only) <b>NON REFUNDABLE</b><b></b></li>
    <li>Participate all activities during BBTF
        <?= $year; ?> event</li>
    <li>
        To complete all Pre Appointment Schedule at least 26 appointments for partially buyer during two (2) full days program.
    </li>
</ul>
<p>
</p>
<p> <b>Cancellation</b></p>
<ul type="disc">
    <li>
        <b>
            NON REFUNDABLE administrative fee IDR.2,900,000 for Fully Hosted
            Buyer &amp; IDR. <?= $fee ?> for Partially Hosted Buyer applied
            before 3 months prior to events
        </b>
    </li>
    <li>
        <b>NON REFUNDABLE</b>
        <b>
            administrative fee IDR.2,900,000 for Fully Hosted Buyer &amp; IDR.
            <?= $fee ?> for Partially Hosted Buyer applied for NO SHOW BUYER
        </b>
    </li>
</ul>
<p>
    If we are not received any confirmation within <b>10 working days</b> your registration would be automatically release from our system.
</p>
<p>
    Should you require any further information about BALI &amp; BEYOND TRAVEL FAIR (BBTF)
    <?= $year; ?>, please feel free to reach out to the Committee at your convenience or simply visit our website at <a href="http://www.bbtf.or.id/">www.bbtf.or.id</a>
</p>
<p>
    Warmest Regards,</p>
<p><br></p>
<p>
</p>
<p>
    Committee of BBTF
    <?= $year; ?>
</p>
