.move-in-down {
	animation: move-in-down linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: move-in-down linear 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: move-in-down linear 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: move-in-down linear 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: move-in-down linear 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
	visibility: visible
}
 @keyframes move-in-down {
0% {
 opacity:0.1;
 transform:  translate(0px, 35px);
}
 100% {
 opacity:1;
 transform:  translate(0px, 0px);
}
}
 @-moz-keyframes move-in-down {
0% {
 opacity:0.1;
 -moz-transform:  translate(0px, 35px);
}
 100% {
 opacity:1;
 -moz-transform:  translate(0px, 0px);
}
}
 @-webkit-keyframes move-in-down {
0% {
 opacity:0.1;
 -webkit-transform:  translate(0px, 35px);
}
 100% {
 opacity:1;
 -webkit-transform:  translate(0px, 0px);
}
}
 @-o-keyframes move-in-down {
0% {
 opacity:0.1;
 -o-transform:  translate(0px, 35px);
}
 100% {
 opacity:1;
 -o-transform:  translate(0px, 0px);
}
}
 @-ms-keyframes move-in-down {
0% {
 opacity:0.1;
 -ms-transform:  translate(0px, 35px);
}
 100% {
 opacity:1;
 -ms-transform:  translate(0px, 0px);
}
}
.move-in-up {
	animation: move-in-up linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: move-in-up linear 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: move-in-up linear 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: move-in-up linear 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: move-in-up linear 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
	visibility: visible
}
 @keyframes move-in-up {
0% {
 opacity:0.1;
 transform: translate(0px, -35px);
}
 100% {
 opacity:1;
 transform:  translate(0px, 0px);
}
}
 @-moz-keyframes move-in-up {
0% {
 opacity:0.1;
 -moz-transform: translate(0px, -35px);
}
 100% {
 opacity:1;
 -moz-transform:  translate(0px, 0px);
}
}
 @-webkit-keyframes move-in-up {
0% {
 opacity:0.1;
 -webkit-transform: translate(0px, -35px);
}
 100% {
 opacity:1;
 -webkit-transform:  translate(0px, 0px);
}
}
 @-o-keyframes move-in-up {
0% {
 opacity:0.1;
 -o-transform: translate(0px, -35px);
}
 100% {
 opacity:1;
 -o-transform:  translate(0px, 0px);
}
}
 @-ms-keyframes move-in-up {
0% {
 opacity:0.1;
 -ms-transform: translate(0px, -35px);
}
 100% {
 opacity:1;
 -ms-transform:  translate(0px, 0px);
}
}
.move-scale-in {
	animation: move-scale-in linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: move-scale-in linear 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: move-scale-in linear 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: move-scale-in linear 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: move-scale-in linear 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}
 @keyframes move-scale-in {
0% {
 opacity:0;
 transform:  translate(0px, 15px) scaleX(0.50) scaleY(0.50);
}
 100% {
 opacity:1;
 transform:  translate(0px, 0px) scaleX(1.00) scaleY(1.00);
}
}
 @-moz-keyframes move-scale-in {
0% {
 opacity:0;
 -moz-transform:  translate(0px, 15px) scaleX(0.50) scaleY(0.50);
}
 100% {
 opacity:1;
 -moz-transform:  translate(0px, 0px) scaleX(1.00) scaleY(1.00);
}
}
 @-webkit-keyframes move-scale-in {
0% {
 opacity:0;
 -webkit-transform:  translate(0px, 15px) scaleX(0.50) scaleY(0.50);
}
 100% {
 opacity:1;
 -webkit-transform:  translate(0px, 0px) scaleX(1.00) scaleY(1.00);
}
}
 @-o-keyframes move-scale-in {
0% {
 opacity:0;
 -o-transform:  translate(0px, 15px) scaleX(0.50) scaleY(0.50);
}
 100% {
 opacity:1;
 -o-transform:  translate(0px, 0px) scaleX(1.00) scaleY(1.00);
}
}
 @-ms-keyframes move-scale-in {
0% {
 opacity:0;
 -ms-transform:  translate(0px, 15px) scaleX(0.50) scaleY(0.50);
}
 100% {
 opacity:1;
 -ms-transform:  translate(0px, 0px) scaleX(1.00) scaleY(1.00);
}
}
.move-in-right {
	animation: move-in-right linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: move-in-right linear 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: move-in-right linear 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: move-in-right linear 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: move-in-right linear 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}
 @keyframes move-in-right {
0% {
 opacity:0;
 transform:  translate(25px, 0px);
}
 100% {
 opacity:1;
 transform:  translate(0px, 0px);
}
}
 @-moz-keyframes move-in-right {
0% {
 opacity:0;
 -moz-transform:  translate(25px, 0px);
}
 100% {
 opacity:1;
 -moz-transform:  translate(0px, 0px);
}
}
 @-webkit-keyframes move-in-right {
0% {
 opacity:0;
 -webkit-transform:  translate(25px, 0px);
}
 100% {
 opacity:1;
 -webkit-transform:  translate(0px, 0px);
}
}
 @-o-keyframes move-in-right {
0% {
 opacity:0;
 -o-transform:  translate(25px, 0px);
}
 100% {
 opacity:1;
 -o-transform:  translate(0px, 0px);
}
}
 @-ms-keyframes move-in-right {
0% {
 opacity:0;
 -ms-transform:  translate(25px, 0px);
}
 100% {
 opacity:1;
 -ms-transform:  translate(0px, 0px);
}
}
.move-in-left {
	animation: move-in-left linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: move-in-left linear 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: move-in-left linear 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: move-in-left linear 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: move-in-left linear 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}
 @keyframes move-in-left {
0% {
 opacity:0;
 transform:  translate(-25px, 0px);
}
 100% {
 opacity:1;
 transform:  translate(0px, 0px);
}
}
 @-moz-keyframes move-in-left {
0% {
 opacity:0;
 -moz-transform:  translate(-25px, 0px);
}
 100% {
 opacity:1;
 -moz-transform:  translate(0px, 0px);
}
}
 @-webkit-keyframes move-in-left {
0% {
 opacity:0;
 -webkit-transform:  translate(-25px, 0px);
}
 100% {
 opacity:1;
 -webkit-transform:  translate(0px, 0px);
}
}
 @-o-keyframes move-in-left {
0% {
 opacity:0;
 -o-transform:  translate(-25px, 0px);
}
 100% {
 opacity:1;
 -o-transform:  translate(0px, 0px);
}
}
 @-ms-keyframes move-in-left {
0% {
 opacity:0;
 -ms-transform:  translate(-25px, 0px);
}
 100% {
 opacity:1;
 -ms-transform:  translate(0px, 0px);
}
}
.fadeIn {
	animation: fadeIn linear 0.5s;
	animation-iteration-count: 1;
	transform-origin: 50% 50%;
	-webkit-animation: fadeIn linear 0.5s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: fadeIn linear 0.5s;
	-moz-animation-iteration-count: 1;
	-moz-transform-origin: 50% 50%;
	-o-animation: fadeIn linear 0.5s;
	-o-animation-iteration-count: 1;
	-o-transform-origin: 50% 50%;
	-ms-animation: fadeIn linear 0.5s;
	-ms-animation-iteration-count: 1;
	-ms-transform-origin: 50% 50%;
}
 @keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-moz-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-webkit-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-o-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
 @-ms-keyframes fadeIn {
 0% {
opacity: 0;
}
 100% {
opacity: 1;
}
}
/*******************************************************************************************
	Inview Animation   
*******************************************************************************************/
.show-none {
	visibility: hidden;
}
.hold1 {
	animation-duration: 200ms;
	-webkit-animation-duration: 200ms
}
.hold2 {
	animation-duration: 300ms;
	-webkit-animation-duration: 300ms
}
.hold3 {
	animation-duration: 400ms;
	-webkit-animation-duration: 400ms
}
.hold4 {
	animation-duration: 500ms;
	-webkit-animation-duration: 500ms
}
.hold5 {
	animation-duration: 600ms;
	-webkit-animation-duration: 600ms
}
.hold6 {
	animation-duration: 800ms;
	-webkit-animation-duration: 800ms
}
