﻿@media screen and (max-width: 968px) {
    .logomainsd {
        width: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .logomainsd {
        width: 50%;
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {
    .logomainsd {
        width: 100%;
        margin-left: 40%;
    }
}
